.logo{
    background-color: red;
}
nav{
    display: flex;
    justify-content: space-between;
}
.out{
    color: red;
}
.division1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.chair{
    border-radius: 50px;
}
.home{
    text-align: center;
    margin-top: 25%;
    font-size: 120%;
}
.explore{
    text-align: center;
}
.houses{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.book{
    text-align: center;
    color: red;
    font-size: 120%;
}
input[type=text],input[type=password], input[type=email]{
    width:100%;
    border: 2px solid;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.mainform{
    width: 70%;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 120%;
    background-color: black;
    color: white;
}

